label, input, textarea, button {
    display:block;
    width: 100%;
}

input, textarea {
    margin-bottom:5px;
}

textarea {
    height:4rem;
}

button {
    border: 5px solid #6667AB;
    background: #6667AB;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
}

h2 {
    font-size: 1.2rem;
}